<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="TurbineDataUtility.Model.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="Analysis_UI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    </configSections>
  <connectionStrings>
    <clear/>
    <add name="XL2003" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Extended Properties='Excel 8.0;HDR=Yes;IMEX=1;'" providerName="System.Data.OleDb"/>
    <add name="XL2007" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Extended Properties='Excel 12.0 Xml;HDR=YES;'" providerName="System.Data.OleDb"/>
    <add name="CSV" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Extended Properties='Text;HDR=Yes;FMT=Delimited'" providerName="System.Data.OleDb"/>
    <add name="TXT" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Extended Properties='Text;HDR=Yes;FMT=Delimited'" providerName="System.Data.OleDb"/>
    <add name="PRN" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Extended Properties='Text;HDR=Yes;FMT=Delimited'" providerName="System.Data.OleDb"/>
    <add name="SQL2005" connectionString="Initial Catalog = WindART_SMI;Connect Timeout=600;" providerName="System.Data.SqlClient"/>
    <add name="OSIPI" connectionString="Provider=PIOLEDB;Timestamp Interval Start=True;" providerName="System.Data.OleDb"/>
    <add name="WindART_PI" connectionString="Data Source=194.247.115.6;Provider=PIOLEDB;Timestamp Interval Start=True;Time Zone=UTC;User ID=PiAdmin;Password=Hannah123" providerName="System.Data.OleDb"/>
    <add name="WindART_SQL" connectionString="Data Source=10.128.10.8;Initial Catalog = WindART_SMI;Connect Timeout=600;User ID=WindART_JesseRichards;Password=metteam555" providerName="System.Data.SqlClient"/>
    <add name="Operations_PI" connectionString="Data Source=10.96.13.172;Provider=PIOLEDB;Timestamp Interval Start=True;Time Zone=UTC;User ID=Oakland;Password=04kl4nd" providerName="System.Data.OleDb"/>
    <add name="Cedar_Creek" connectionString="Data Source=10.96.38.194;Provider=PIOLEDB;Timestamp Interval Start=True;Time Zone=UTC;User ID=Pidemo;Password=W1ndnrg" providerName="System.Data.OleDb"/>
    <add name="Fowler_01" connectionString="Data Source=10.96.9.226;Provider=PIOLEDB;Timestamp Interval Start=True;Time Zone=UTC;User ID=Pidemo;Password=W1ndnrg" providerName="System.Data.OleDb"/>
    <add name="Flat_Ridge" connectionString="Data Source=10.96.51.195;Provider=PIOLEDB;Timestamp Interval Start=True;Time Zone=UTC;User ID=Pidemo;Password=W1ndnrg" providerName="System.Data.OleDb"/>
    <add name="Flat_Ridge_1" connectionString="Data Source=10.96.9.162;Provider=PIOLEDB;Timestamp Interval Start=True;Time Zone=UTC;User ID=Pidemo;Password=W1ndnrg" providerName="System.Data.OleDb"/>
    <add name="Titan" connectionString="Data Source=10.96.34.66;Provider=PIOLEDB;Timestamp Interval Start=True;Time Zone=UTC;User ID=Pidemo;Password=W1ndnrg" providerName="System.Data.OleDb"/>
    <add name="Edom_Hill" connectionString="Data Source=10.96.6.100;Provider=PIOLEDB;Timestamp Interval Start=True;Time Zone=UTC;User ID=Pidemo;Password=W1ndnrg" providerName="System.Data.OleDb"/>
    <add name="Trinity" connectionString="Data Source=10.96.1.194;Provider=PIOLEDB;Timestamp Interval Start=True;Time Zone=UTC;User ID=Pidemo;Password=W1ndnrg" providerName="System.Data.OleDb"/>
    <add name="Sherbino_Mesa_2" connectionString="Data Source=10.96.3.3;Provider=PIOLEDB;Timestamp Interval Start=True;Time Zone=UTC;User ID=Pidemo;Password=W1ndnrg" providerName="System.Data.OleDb"/>
    <add name="Mehoopany" connectionString="Data Source=10.96.53.66;Provider=PIOLEDB;Timestamp Interval Start=True;Time Zone=UTC;User ID=Pidemo;Password=W1ndnrg" providerName="System.Data.OleDb"/>



  </connectionStrings>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="nunit.framework" publicKeyToken="96D09A1EB7F44A77" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-2.5.8.10295" newVersion="2.5.8.10295"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
 <userSettings>
  <TurbineDataUtility.Model.Settings1>
   <setting name="SS1" serializeAs="String">
    <value>-6</value>
   </setting>
   <setting name="FO2" serializeAs="String">
    <value>-5</value>
   </setting>
   <setting name="FO1" serializeAs="String">
    <value>-5</value>
   </setting>
   <setting name="CC2" serializeAs="String">
    <value>-7</value>
   </setting>
   <setting name="GO2" serializeAs="String">
    <value>-7</value>
   </setting>
   <setting name="EH1" serializeAs="String">
    <value>-8</value>
   </setting>
   <setting name="FR1" serializeAs="String">
    <value>-6</value>
   </setting>
   <setting name="FO3" serializeAs="String">
    <value>-5</value>
   </setting>
   <setting name="RT1" serializeAs="String">
    <value>-6</value>
   </setting>
   <setting name="SM1" serializeAs="String">
    <value>-6</value>
   </setting>
   <setting name="LOG" serializeAs="String">
    <value>"P:\0_Projects\US\0_Operations\_Monthly RAW pi data\PiDownloadLog.csv"</value>
   </setting>
   <setting name="SM2" serializeAs="String">
    <value>-6</value>
   </setting>
   <setting name="TH1" serializeAs="String">
    <value>-6</value>
   </setting>
  </TurbineDataUtility.Model.Settings1>
  <Analysis_UI.Properties.Settings>
   <setting name="LOG" serializeAs="String">
    <value>P:\0_Projects\US\0_Operations\_Monthly RAW pi data\PiDownloadLog.csv</value>
   </setting>
   <setting name="SourceFile" serializeAs="String">
    <value>\\BP1\public\0_Projects\US\0_Operations\_Monthly RAW pi data\Source Tag Lists\SourceTags.xlsx</value>
   </setting>
  </Analysis_UI.Properties.Settings>
 </userSettings>
</configuration>
