<?xml version="1.0"?>
<configuration>
	<configSections>
  <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
   <section name="TurbineDataUtility.Model.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
  </sectionGroup>
 </configSections>
 <runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="nunit.framework" publicKeyToken="96D09A1EB7F44A77" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-2.5.7.10213" newVersion="2.5.7.10213"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
 <userSettings>
  <TurbineDataUtility.Model.Settings1>
   <setting name="SS1" serializeAs="String">
    <value>-6</value>
   </setting>
   <setting name="FO2" serializeAs="String">
    <value>-6</value>
   </setting>
   <setting name="FO1" serializeAs="String">
    <value>-6</value>
   </setting>
   <setting name="CC2" serializeAs="String">
    <value>-7</value>
   </setting>
   <setting name="GO2" serializeAs="String">
    <value>-7</value>
   </setting>
   <setting name="EH1" serializeAs="String">
    <value>-8</value>
   </setting>
   <setting name="FR1" serializeAs="String">
    <value>-6</value>
   </setting>
   <setting name="FO3" serializeAs="String">
    <value>-6</value>
   </setting>
   <setting name="RT1" serializeAs="String">
    <value>-6</value>
   </setting>
   <setting name="SM1" serializeAs="String">
    <value>-6</value>
   </setting>
   <setting name="LOG" serializeAs="String">
    <value>"P:\0_Projects\US\0_Operations\_Monthly RAW pi data\PiDownloadLog.csv"</value>
   </setting>
  </TurbineDataUtility.Model.Settings1>
 </userSettings>
</configuration>
