<?xml version="1.0"?>
<configuration>
	<configSections>
  <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
   <section name="WindART.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
  </sectionGroup>
 </configSections>
 <runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="nunit.framework" publicKeyToken="96D09A1EB7F44A77" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-2.5.8.10295" newVersion="2.5.8.10295"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
 <userSettings>
  <WindART.Properties.Settings>
   <setting name="TimeStampName" serializeAs="String">
    <value>DateTime</value>
   </setting>
   <setting name="MissingValue" serializeAs="String">
    <value>-9999.99</value>
   </setting>
   <setting name="ShadowInterval" serializeAs="String">
    <value>120</value>
   </setting>
   <setting name="IntervalBoundary" serializeAs="String">
    <value>0.001</value>
   </setting>
   <setting name="CompColName" serializeAs="String">
    <value>Composite</value>
   </setting>
  </WindART.Properties.Settings>
 </userSettings>
</configuration>
