<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="PipelineLoader.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="PipelineLoader.Properties.Settings.WindART_SMIConnectionString"
            connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=C:\devsvn\WindART\trunk\Database\WindART_SMI.mdf;Integrated Security=True;Connect Timeout=30;User Instance=True"
            providerName="System.Data.SqlClient" />
        <add name="PipelineLoader.Properties.Settings.WindART_SMIConnectionString1"
            connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\WindART_SMI.mdf;Integrated Security=True;Connect Timeout=30;User Instance=True"
            providerName="System.Data.SqlClient" />
        <add name="UFLLoader.Properties.Settings.WindART_SMIConnectionString"
            connectionString="Data Source=10.128.10.8;Integrated Security=True;Initial Catalog=WindART_SMI;"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
  <appSettings>
    <add key="FolderReadyForImport" value="C:\PipelineData\2.ReadyForImport"/>
    <add key="FolderVerified" value="C:\PipelineData\4.Verified"/>
    <add key="FolderParked" value="C:\PipelineData\5.Parked"/>
    <add key="FolderLoaded" value="C:\PipelineData\6.Loaded"/>    
    <add key="SharePointDocumentLibrary" value="http://alternativeenergyportal/applications/WindART/PipelineLoader/"/>
    <add key="ServiceAccount" value="-svc-cdr-spadminprd"/>
    <add key="ServiceAccountPW" value="WRaC6aqA"/>
    <add key="ServiceAccountDomain" value="HE1"/>
    <add key="SkipSharePoint" value="True"/>
    <add key="PI_UFLExec" value="D:\Program files\PIPC\Interfaces\PI_UFL\PI_UFL.EXE"/>
    <add key="PI_UFLIniFolder" value="C:\devsvn\WindART\trunk\Source\PipelineLoader\PIUFL\" />
    <add key="PI_UFLParams" value="/ps=WindART /f=00:00:05 /host=hy1maaap001 /lb /runonce"/>
    <add key="Repeat" value="1"/>
  </appSettings>
  <system.serviceModel>
    <bindings/>
    <client/>
  </system.serviceModel>
  <applicationSettings>
    <PipelineLoader.Properties.Settings>
      <setting name="PipelineLoader_ListsService_Lists" serializeAs="String">
        <value>http://alternativeenergyportal/_vti_bin/lists.asmx</value>
      </setting>
    </PipelineLoader.Properties.Settings>
  </applicationSettings>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="nunit.framework" publicKeyToken="96D09A1EB7F44A77" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-2.4.7.0" newVersion="2.4.7.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
