<?xml version="1.0"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="FindFile.Properties.Settings.WindART_SMIConnectionString2" connectionString="Data Source=10.254.13.3;Initial Catalog=WindART_SMI;Persist Security Info=True;&#xA;      User ID=windart_jesserichards;Password=metteam555" providerName="System.Data.SqlClient" />
    <add name="FindFile.Properties.Settings.WindART_SMIConnectionString" connectionString="Data Source=10.128.10.8;Integrated Security=True;Initial Catalog=WindART_SMI" providerName="System.Data.SqlClient" />
    <add name="FindFile.Properties.Settings.WindART_SMIConnectionString1" connectionString="Data Source=.\\SQLEXPRESS;AttachDbFilename=C:\\devsvn\\WindART\\trunk\\Database\\WindART_SMI.mdf;Integrated Security=True;Connect Timeout=30;User Instance=True" providerName="System.Data.SqlClient" />
    <add name="DefaultConnection" connectionString="Data Source = |SQL/CE|" />
  </connectionStrings>
  <appSettings>
    <add key="FolderReadyForImport" value="\\10.254.13.3\PipelineData\2.ReadyForImport" />
    <add key="FolderDecrypt" value="\\10.254.13.3\PipelineData\3.Decrypt" />
    <add key="FolderConvert" value="\\10.254.13.3\Pipelinedata\3.Convert" />
    <add key="FolderStorage" value="\\10.254.13.3\PipelineData\00.PreProcess" />
    <add key="ServiceAccount" value="-svc-cdr-spadminprd" />
    <add key="ServiceAccountPW" value="WRaC6aqA" />
    <add key="ServiceAccountDomain" value="HE1" />
    <add key="SkipSharePoint" value="True" />
    <add key="Repeat" value="1" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="nunit.framework" publicKeyToken="96D09A1EB7F44A77" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.5.8.10295" newVersion="2.5.8.10295" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>