<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="FolderForEmail" value="D:\PipelineData\0.EmailFolder"/>
    <add key="FolderReadyForImport"  value="D:\PipelineData\2.ReadyForImport"/>
    <add key="SharePointDocumentLibrary"  value="http://alternativeenergyportal/applications/WindART/PipelineLoader/"/>
    <add key="ServiceAccount" value="-svc-cdr-spadminprd"/>
    <add key="ServiceAccountPW" value="WRaC6aqA"/>
    <add key="ServiceAccountDomain" value="HE1"/>
    <add key="SkipSharePoint"  value="True"/>
    <add key="ApplicationConfigurationSite"  value="http://alternativeenergyportal/applications/ApplicationConfiguration/"/>
    <add key="EmailReaderList"  value="EmailReader" />
    <add key="NRGExecutable"  value="D:\Program Files\NRG\SymDR\SDR.exe" />
    <add key="FolderParked"  value="D:\PipelineData\5.Parked"/>    
    <add key="Repeat" value="1"/>
  </appSettings>
</configuration>