<?xml version="1.0"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="XL2003" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Extended Properties='Excel 8.0;HDR=Yes;IMEX=1;'" providerName="System.Data.OleDb"/>
    <add name="XL2007" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Extended Properties='Excel 12.0 Xml;HDR=YES;'" providerName="System.Data.OleDb"/>
    <add name="CSV" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Extended Properties='Text;HDR=Yes;FMT=Delimited'" providerName="System.Data.OleDb"/>
    <add name="TXT" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Extended Properties='Text;HDR=Yes;FMT=Delimited'" providerName="System.Data.OleDb"/>
    <add name="PRN" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Extended Properties='Text;HDR=Yes;FMT=Delimited'" providerName="System.Data.OleDb"/>
    <add name="SQL2005" connectionString="Initial Catalog = WindART_SMI;Connect Timeout=600;" providerName="System.Data.SqlClient"/>
    <add name="OSIPI" connectionString="Provider=PIOLEDB;Timestamp Interval Start=True;" providerName="System.Data.OleDb"/>
    <add name="WindART_PI" connectionString="Data Source=194.247.115.6;Provider=PIOLEDB;Timestamp Interval Start=True;Time Zone=UTC;User ID=PiJesse;Password=ech0ech0" providerName="System.Data.OleDb"/>
    <add name="WindART_SQL" connectionString="Data Source=10.128.10.8;Initial Catalog = WindART_SMI;Connect Timeout=600;User ID=WindART_JesseRichards;Password=metteam555" providerName="System.Data.SqlClient"/>

  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="nunit.framework" publicKeyToken="96D09A1EB7F44A77" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.5.5.10112" newVersion="2.5.5.10112"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>