<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="WindART.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
    </configSections>
  <connectionStrings>
    <add name="XL2003" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Extended Properties='Excel 8.0;HDR=Yes;IMEX=1;'" providerName="System.Data.OleDb"/>
    <add name="XL2007" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Extended Properties='Excel 12.0 Xml;HDR=YES;IMEX=1;'" providerName="System.Data.OleDb"/>
    <add name="CSV" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Extended Properties='Text;HDR=Yes;FMT=Delimited'" providerName="System.Data.OleDb"/>
    <add name="TXT" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Extended Properties='Text;HDR=Yes;FMT=Delimited'" providerName="System.Data.OleDb"/>
    <add name="SQL2005" connectionString="Initial Catalog = WindART_SMI;Connect Timeout=600;" providerName="System.Data.SqlClient"/>
    <add name="OSIPI" connectionString="Provider= PIOLEDB;" providerName ="System.Data.OleDb"/>
    
  </connectionStrings>
  <userSettings>
    <WindART.Properties.Settings>
      <setting name="TimeStampName" serializeAs="String">
        <value>DateTime</value>
      </setting>
      <setting name="MissingValue" serializeAs="String">
        <value>-9999</value>
      </setting>
      <setting name="ShadowInterval" serializeAs="String">
        <value>120</value>
      </setting>
      <setting name="IntervalBoundary" serializeAs="String">
        <value>0.001</value>
      </setting>
      <setting name="CompColName" serializeAs="String">
        <value>Composite</value>
      </setting>
    </WindART.Properties.Settings>
  </userSettings>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="nunit.framework" publicKeyToken="96D09A1EB7F44A77" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-2.4.8.0" newVersion="2.4.8.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
